* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desc-page {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-card {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    border-radius: 18px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    background-color: whitesmoke;
}

.img-container img {
    width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 196, 0);
}

.card-head h2, .card-head p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.pizza-name {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.price {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: rgb(26, 26, 26);
    background-color: rgb(255, 230, 89);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 0px 5px;
    transition: transform 0.3s ease;
}

.price:hover {
    transform: scale(1.1);
}

.card-subtitle {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 10px;
    border-bottom: 1px solid rgb(255, 196, 0);
    padding-bottom: 5px;
}

.cart-button {
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    border: none;
    padding: 5px 0px;
    background-color: rgb(255, 230, 89);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.cart-button:hover {
    background-color: rgb(255, 215, 0);
}

.cart-button:active {
    transform: scale(0.95);
}

.ingredients {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    background-color: antiquewhite;
    padding: 3px 5px;
    margin-right: 8px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.ingredients:hover {
    transform: scale(1.1);
}

.pizza-content {
    font-family: 'Quicksand', sans-serif;
}