* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*============================= HEADER =============================*/

.header-div {
    position: relative;
    height: 43vh;
    min-height: 150px;
    background-image: url(./assets/img/Header.jpg);
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.header-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* ajusta opacidad aquí */
    z-index: 0;
}

.title {
    position: relative;
    z-index: 1;
}

.title h1 {
    font-size: 3rem;
}

.title p {
    font-size: 1.2rem;
}

/*============================= NAVBAR =============================*/

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.navbar-style {
    width: 100%;
    height: 8vh;
    min-height: 3.75rem;
    background-color: rgb(28, 28, 29);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-title p {
    color: whitesmoke;
    margin: 0;
    font-size: 1.5rem;
}

.navbar-buttons {
    display: flex;
    gap: 1.25rem;
}

.navbar-buttons button {
    background-color: rgb(39, 38, 38);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 10px;
    padding: .3125rem .9375rem;
}

.navbar-price button {
    background-color: rgb(39, 38, 38);
    border: 1px solid rgb(37, 144, 216);
    color: rgb(37, 144, 216);
    border-radius: 10px;
    padding: .3125rem .9375rem;
}


/*============================= CARDPIZZA =============================*/

.pizza-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid rgb(247, 205, 18);
    border-bottom: 4px solid rgb(247, 205, 18);
    margin-top: 3.125rem;
    padding: 1.875rem;
}


.card-pizza {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(212, 203, 203);
    border-radius: .625rem;
    margin: .625rem .625rem;
    width: 540px;
    overflow: hidden;
}

.card-title {
    padding: 1.125rem .625rem;
    border-bottom: 1px solid rgb(212, 203, 203);
}

.card-ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(212, 203, 203);
    padding-top: .625rem;
}

.ingredients-title {
    color: rgb(150, 145, 145);
    font-size: 1.3rem;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.875rem;
}

.more-button {
    background-color: white;
    border: 1px solid black;
    padding: .4375rem 1.25rem;
    border-radius: 6px;
}

.add-button {
    background-color: rgb(29, 27, 27);
    color: whitesmoke;
    border: 1px solid rgb(107, 104, 104);
    border-radius: 6px;
    padding: .4375rem 1rem;
}

.price-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: .625rem;
}


/*============================= HEADER =============================*/


.footer {
    height: 8vh;
    background-color: rgb(28, 28, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer p {
    color: whitesmoke;
    margin: 0;
    font-size: 1.2em;
}